.App {
	display: grid;
	grid-template-areas:
		"heading refresh settings"
		"content content content";
	grid-template-columns: 1fr auto auto;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100vw;
}

.App > h1 {
	background-color: #282c34;
	color: white;
	grid-area: heading;
}

.App > .button-settings {
	grid-area: settings;
}

.App > .button-refresh {
	grid-area: refresh;
}

.App > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
	grid-area: content;
}

.App-header {
	background-color: #282c34;
	display: flex;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
