body {
	background-color: rgb(240, 242, 245);
}

.App {
	grid-template-rows: auto 1fr;
	min-height: 100vh;
}

.app-header {
	background-color: #282c34;
	color: white;
	display: grid;
	grid-template-columns: 1fr auto auto;
	padding: 0.5em;
}

.App > span {
	grid-area: heading;
}

.app-body {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
	grid-area: content;
	margin: 1em;
}

.App > span {
	font-size: 2em;
	padding: 0.25em;
	text-align: center;
}

.card {
	background-color: rgb(255, 255, 255);
	border: 0px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.75rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
	display: grid;
	grid-template-rows: auto 1fr;
}

.card canvas {
	grid-column: 1 / -1;
	margin: 1em;
}

.card-header {
	border-bottom: 1px solid rgba(204, 204, 204, 0.35);
	display: grid;
	grid-template-columns: 1fr 24px 24px;
	padding: 1em;
}

.card-header h2 {
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	color: #111;
}

.card-body {
	position: relative;
}

.tooltip {
	background-color: rgba(0, 0, 0, 0.8);
	border: 0px solid rgba(0, 0, 0, 0.8);
	border-radius: 0.75rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
	color: white;
	opacity: 0;
	padding: 1em;
	position: absolute;
	transform: translate(-50%, 0);
	transition: all 0.1s ease;
	width: 44ch;
	z-index: 1;
}

.tooltip::before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(0, 0, 0, 0.8);
	content: "";
	display: block;
	height: 0;
	left: calc(50% - 10px);
	position: absolute;
	top: -10px;
	width: 0;
}

.tooltip h3 {
	margin: 0;
}

.tooltip .table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.25em;
	margin-top: 0.25em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip label {
	font-weight: bold;
}

.tooltip a {
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.button {
	aspect-ratio: 1;
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 24px;
	padding: 0;
}

.button-refresh {
	background-image: url("/public/img/icons/refresh_white.png");
}

.button-refresh-black {
	background-image: url("/public/img/icons/refresh_black.png");
}

.button-settings {
	background-image: url("/public/img/icons/settings_white.png");
}

.button-settings-black {
	background-image: url("/public/img/icons/settings_black.png");
}

form {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.75rem;
	display: flex;
	flex-direction: column;
	inset: 0 0 0 0;
	justify-content: center;
	margin: 1em;
	opacity: 1;
	position: absolute;
	transition: all 0.2s ease-in-out;
	visibility: visible;
}

fieldset {
	border: none;
}

form.hidden {
	opacity: 0;
	visibility: hidden;
}
